<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Socialdiary_project"
        tools:targetApi="31">

        <!-- LoginActivity를 첫 번째 화면으로 설정 -->
        <activity
            android:name=".ui.theme.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity 선언 -->
        <activity
            android:name=".ui.theme.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 다른 Activity들 선언 -->
        <activity
            android:name=".ui.theme.DiaryListActivity"
            android:label="일기 목록"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.theme.FriendListActivity"
            android:label="친구 목록"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.theme.CalendarActivity"
            android:label="캘린더"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.theme.DiaryEntryActivity"
            android:label="일기 작성"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.theme.SettingsActivity"
            android:label="설정"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>
